@import '../../styles//variables.module.scss';

.gallery{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background: url('../../public/images/gallery/galleryBackground.png');
    background-size: cover;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .topBg{
        width: 100vw;
        height: 50px;
        background-color: $secondaryDarkColor;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .container{
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
        // grid-template-areas: 
        // 'lt rt'
        // 'lct rt'
        // 'lct rc'
        // 'lcb rc'
        // 'b b'
        // 'b b';

        div.image{
            border: 1px solid $white;

            &:nth-child(1){
                background-color: rebeccapurple;
                grid-column: 1 / 2 ;
                grid-row: 1/2;
                
                // grid-area: lt;
            }
            &:nth-child(2){
                background-color: black;
                grid-column: 2/3;
                grid-row: 1/3;
                
                // grid-area: rt;
            }
            &:nth-child(3){
                background-color: rosybrown;
                grid-column: 1/2;
                grid-row: 2/4;
                
                // grid-area: lct;
            }
            &:nth-child(4){
                background-color: blue;
                grid-column: 2/3;
                grid-row: 3/5;
                
                // grid-area: rc;
            }
            &:nth-child(5){
                background-color: indianred;
                grid-column: 1/2;
                grid-row: 4/5;
                
                // grid-area: lcb;
            }
            &:nth-child(6){
                background-color: khaki;
                grid-column: 1/3;
                grid-row: 5/7;
                
                // grid-area: b;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

}