@import '../../styles/variables.module.scss';

.gallery{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../../public/images/gallery/galleryBackground.png');
        filter: blur(3px);
        z-index: -1;
        background-size: cover;
    }

    .container{
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
        grid-template-areas: 
        'tl tr'
        'ctl tr'
        'ctl cr'
        'cbl cr'
        'b b'
        'b b';

        div.image{
            cursor: pointer;
            border: 1px solid $white;
            transform: scale(1);
            transition: .2s transform ;

            &:nth-child(1){
                grid-area: tl;
            }
            &:nth-child(2){
                grid-area: tr;
            }
            &:nth-child(3){
                grid-area: ctl;
            }
            &:nth-child(4){
                grid-area: cr;
            }
            &:nth-child(5){
                grid-area: cbl;
            }
            &:nth-child(6){
                grid-area: b;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover{
                transform: scale(1.05);
                z-index: 2;
            }
        }

    }

    @media (min-width: 800px) {
        .container{

            width: 100%;
            height: 100%;
            padding: $navMarginDesktop;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 23% 23% 23% 23% ;
            gap: 20px;

            grid-template-areas: 
            'tl tl tc tr'
            'bl bl tc tr'
            'bl bl cr cr'
            'bl bl br br'
            ;
            div.image{

                &:nth-child(1){
                    grid-area: tl;
                }
                &:nth-child(2){
                    grid-area: tc;
                }
                &:nth-child(3){
                    grid-area: tr;
                }
                &:nth-child(4){
                    grid-area: bl;
                }
                &:nth-child(5){
                    grid-area: cr;
                }
                &:nth-child(6){
                    grid-area: br;
                }

            }
        }
    }

    @media (min-width: 1000px) {
        .container{
            width: 100%;
            height: 100%;
            padding: $navMarginDesktop;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 31% 31% 31%;
            gap: 30px;
            grid-template-areas: 
            'tl tc tr'
            'bl tc br'
            'bl bc br'
            ;
            
            div.image{
                border: 2px solid $white;

                &:nth-child(1){
                    grid-area: tr;
                }
                &:nth-child(2){
                    grid-area: br;
                }
                &:nth-child(3){
                    grid-area: bl;
                }
                &:nth-child(4){
                    grid-area: tc;
                }
                &:nth-child(5){
                    grid-area: tl;
                }
                &:nth-child(6){
                    grid-area: bc;
                }
            }
        }
    }
}