.test{
    width: 100vw;
    // min-height: 100svh;
    // min-height: -webkit-fill-available;
    // height: calc(100vw - -webkit-fill-available);
    height: 100dvh;
    background: linear-gradient(blue, red);
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 50px;
    }
}